.container {
  min-height: 20vh;
  margin-top: 2rem;
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 0.6rem;
  padding: 0 1rem;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
}

.container p:nth-child(2) {
  margin-top: 1rem;
}

.contribute {
  text-decoration: underline;
  margin-left: 0.4rem;
}

@media screen and (min-width: 768px) {
  .container {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 2560px) {
  .container {
    font-size: 2rem;
  }
}
