.container {
  min-height: 100vh;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.titleContainer {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 18px;
}

.githubIcon {
  height: 18px;
  margin-left: 0.5rem;
}

.search {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary);
  padding: 0 1rem;
  margin-top: 1rem;
  border-radius: 15px;
  min-height: 2rem;
}

.searchIcon {
  height: 1rem;
  margin-right: 0.5rem;
}

.search input {
  border: none;
  background-color: var(--secondary);
  height: 2rem;
  color: white;
  outline: none;
}

main {
  min-height: 100%;
  padding: 0 1rem;

  display: flex;
  flex-wrap: wrap;
}

.showCopied {
  position: fixed;
  display: flex;

  top: 0;
  width: 100vw;
  min-height: 50px;
  background-color: var(--secondary);
  justify-content: space-around;
  align-items: center;
  z-index: 999;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 5rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0 10rem;
  }

  .navigation {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 25px;
  }

  .githubIcon {
    height: 25px;
  }
}

@media screen and (min-width: 2560px) {
  .container {
    padding: 0 35rem;
  }
}
