@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

:root {
  --main: #1a1a1a;
  --secondary: #333333;
}

html,
body {
  height: 100vh;
}

body {
  background-color: var(--main);
  font-family: 'Poppins', sans-serif;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
